ul{
  animation: marquee 30s linear infinite;
  overflow: hidden;
  white-space: nowrap;
  transform: translate(50%,50%);
}

@keyframes marquee {
  0% {
    transform: translate(0,0);
  }
  100%{
    transform: translate(-100%,0);
  }
}

@media (max-width: 990px) {
  .social-section{
    border-radius: 30px;
  }
}
