<div class="flex flex-col gap-6">
  <!--  top row-->
  <div class="flex gap-6 justify-center flex-col md:flex-row ">
    <!--    about crd area-->
    <a routerLink="About"
       class="md:w-1/2 aspect-[2/1] animated-crd p-[2rem] flex justify-center items-center cursor-pointer">
      <div class="flex relative flex-col md:flex-row">
        <div class="md:w-1/2 p-[1rem]">
          <img src="assets/images/dp.jpg" alt="dp" class="rounded-tl-[35px] rounded-br-[35px]">
        </div>
        <div class="md:w-1/2 text-[var(--base-body-font-color)] flex justify-center font-medium flex-col p-2 gap-4">
          <p class="uppercase">A Fullstack Developer</p>
          <h1 class="text-4xl text-[var(--base-white)]"><span class="text-[var(--base-blue)]">S</span>ameera Madhushan
          </h1>
          <p class="font-normal mb-3">I am a fullstack software engineer based on Kandy </p>
        </div>
        <img src="assets/icons/card-menu-icon.svg" alt="icon" class="absolute right-0 bottom-0 card-icon">
      </div>
    </a>
    <!--    end about crd area-->
    <div class="md:w-1/2 aspect-[2/1] gap-6 flex flex-col">
      <!--      animated list-->
      <div class="animated-crd p-4 overflow-hidden">
        <ul
          class="inline-flex text-[14px] gap-8 list-[circle] overflow-hidden text-[var(--base-body-font-color)]">
          <li *ngFor="let i of [1,2,3,4,5,6,7,8,9]" class="uppercase">latest work and
            <span class="text-[var(--base-white)]">featured</span>
          </li>
        </ul>
      </div>
      <!--      end animated list-->
      <div class="flex gap-6 flex-col md:flex-row">
        <!--        more about section-->
        <a class="md:w-1/2 aspect-[1] animated-crd p-8 flex flex-col justify-center items-center gap-8"
           routerLink="/credentials">
          <img src="assets/images/newdarksign.png" class="filter-white aspect-[7/6] w-1/2 my-3" alt="sign">
          <div class="flex flex-col items-start w-full relative">
            <p class="uppercase text-[var(--base-body-font-color)] text-[14px] mb-2">More About Me</p>
            <p class="text-[var(--base-white)] text-2xl">Credentials</p>
            <img src="assets/icons/card-menu-icon.svg" alt="icon" class="absolute right-0 bottom-0 card-icon">
          </div>
        </a>
        <!--        end more about section-->
        <!--        projects section-->
        <div class="md:w-1/2 aspect-[1] animated-crd p-8 flex flex-col justify-center items-center gap-8">
          <img src="assets/images/my-works.png" class="aspect-[14/6] w-full my-3" alt="sign">
          <div class="flex flex-col items-start w-full relative">
            <p class="uppercase text-[var(--base-body-font-color)] text-[14px] mb-2">Show case</p>
            <p class="text-[var(--base-white)] text-2xl">Projects</p>
            <img src="assets/icons/card-menu-icon.svg" alt="icon" class="absolute right-0 bottom-0 card-icon">
          </div>
        </div>
        <!--        end project section-->
      </div>
    </div>
  </div>
  <!--  end top row-->
  <!--  second row-->
  <div class="flex gap-6 flex-col md:flex-row">
    <!--    blog section-->
    <div class="md:w-[25%] aspect-[1] animated-crd p-8 flex flex-col justify-center items-center">
      <img src="assets/images/gfonts.png" class="aspect-[125/95] w-full " alt="sign">
      <div class="flex flex-col items-start w-full relative">
        <p class="uppercase text-[var(--base-body-font-color)] text-[14px] mb-2">Blog</p>
        <p class="text-[var(--base-white)] text-2xl">GFonts</p>
        <img src="assets/icons/card-menu-icon.svg" alt="icon" class="absolute right-0 bottom-0 card-icon">
      </div>
    </div>
    <!--    end blog section-->
    <!--    offering section-->
    <a routerLink="Services" class="md:w-[50%] md:aspect-[2/1] animated-crd p-8 flex flex-col justify-center items-center">
      <div class="flex gap-6 md:gap-16 justify-center items-center py-8 md:py-12">
        <img src="assets/icons/coding.png" class="filter-white w-[30px] md:w-[50px] aspect-[1] object-cover" alt="icon">
        <img src="assets/icons/web-programming.png" class="filter-white w-[30px] md:w-[50px] aspect-[1] object-cover"
             alt="icon">
        <img src="assets/icons/website.png" class="filter-white md:w-[50px] w-[30px] aspect-[1] object-cover"
             alt="icon">
        <img src="assets/icons/mobile-development.png" class="filter-white w-[30px] md:w-[50px] aspect-[1] object-cover"
             alt="icon">
      </div>
      <div class="flex flex-col items-start w-full relative">
        <p class="uppercase text-[var(--base-body-font-color)] text-[14px] mb-2">Specialization</p>
        <p class="text-[var(--base-white)] text-2xl">Services Offering</p>
        <img src="assets/icons/card-menu-icon.svg" alt="icon" class="absolute right-0 bottom-0 card-icon">
      </div>
    </a>
    <!--    end of offering section-->
    <!--    stay with me section-->
    <div class="md:w-[25%] md:aspect-[1] animated-crd p-8 flex flex-col justify-center items-center gap-8">
      <div class="animated-crd flex w-full gap-6 p-4 md:p-6 justify-center items-center social-section">
        <div
          class="animated-crd w-[25%] md:w-1/2 aspect-[1] flex justify-center items-center hover:bg-[var(--base-blue)] social-icon">
          <img src="assets/icons/linkedin.png" alt="icon" class="w-[30px] aspect-[1] filter-white social-icon-img">
        </div>
        <div
          class="animated-crd w-[25%] md:w-1/2 aspect-[1] flex justify-center items-center  hover:bg-[var(--base-blue)] social-icon">
          <img src="assets/icons/facebook.png" alt="icon" class="w-[30px] aspect-[1] filter-white social-icon-img">
        </div>
      </div>
      <div class="flex flex-col items-start w-full relative">
        <p class="uppercase text-[var(--base-body-font-color)] text-[14px] mb-2">stay with me</p>
        <p class="text-[var(--base-white)] text-2xl">Profiles</p>
        <img src="assets/icons/card-menu-icon.svg" alt="icon" class="absolute right-0 bottom-0 card-icon">
      </div>
    </div>
    <!--    end of stay with me section-->
  </div>
  <!--  end second row-->
  <!--  third row-->
  <div class="flex gap-6 flex-col md:flex-row">
    <!--    experiences section-->
    <div class="md:w-[50%] aspect-[5/2] animated-crd p-8 gap-8 flex flex-col md:flex-row justify-center items-center">
      <div
        class="animated-crd w-full md:w-[30%] py-8 md:p-0 md:h-full flex flex-col items-center justify-center text-center">
        <span class="text-4xl font-medium mb-4 md:my-4 text-[var(--base-blue)]">07</span>
        <p class="uppercase text-[var(--base-body-font-color)] text-[14px]"> years <br> experience</p>
      </div>
      <div
        class="animated-crd w-full md:w-[30%] py-8 md:p-0 md:h-full flex flex-col items-center justify-center text-center">
        <span class="text-4xl font-medium mb-4 md:my-4 text-[var(--base-blue)]">+125</span>
        <p class="uppercase text-[var(--base-body-font-color)] text-[14px]"> clients <br> worldwide</p>
      </div>
      <div
        class="animated-crd w-full md:w-[30%] py-8 md:p-0 md:h-full flex flex-col items-center justify-center text-center">
        <span class="text-4xl font-medium mb-4 md:my-4 text-[var(--base-blue)]">+210</span>
        <p class="uppercase text-[var(--base-body-font-color)] text-[14px]"> total <br> projects</p>
      </div>

    </div>
    <!--    end of experiences section-->
    <div
      class="md:w-[50%] aspect-[5/3] md:aspect-[5/2] animated-crd p-8 flex relative flex-col justify-center items-center">
      <img src="assets/icons/icon2.png" alt="icon" class="absolute top-0 left-8">
      <div class="flex flex-col items-start w-full relative mt-auto mb-0">
        <p class="text-3xl md:text-5xl">Let's <br>work <span class="text-[var(--base-blue)]">together.</span></p>
        <img src="assets/icons/card-menu-icon.svg" alt="icon" class="absolute right-0 bottom-0 card-icon">
      </div>
    </div>
  </div>
  <!--  end of third row-->
</div>
