.menu {
  width: 40px;
  aspect-ratio: 1/1;
  position: relative;
  padding: 5px 0 5px 5px;
}

.menu .line {
  width: calc(100% - 10px);
  height: 2px;
  border-radius: 5px;
  position: absolute;
  display: block;
  transition: transform 0.5s, width 0.5s ease-in-out;
}

.menu .line:nth-child(2) {
  top: 0;
  bottom: 0;
  margin: auto;
}

.menu .line:nth-child(3) {
  bottom: 5px;
}

.menu.active .line:nth-child(1),
.menu.active .line:nth-child(3) {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  transform: rotate(45deg);
}

.menu.active .line:nth-child(1) {
  transform: rotate(-45deg);
}

.menu.active .line:nth-child(2) {
  width: 0;
}

.header-main ul {
  clip-path: inset(0 -100vmax);
}

.links.active{
  color: white!important;
}
