<div class="container py-3 py-3 md:py-[4rem] flex flex-col gap-6 px-5 md:px-0">
  <!-- first row-->
  <div class="flex w-full gap-6">
    <div class="animated-crd w-[32%] aspect-[1] p-8">
      <img src="assets/images/dp.jpg" class="w-full object-cover rounded-[30px]" alt="dp">
    </div>
    <div class="w-[68%] aspect-[3/1] flex flex-col gap-6 items-center">
      <div class="flex w-full card-animation">
        <img src="assets/icons/star-2.png" class="w-[50px] h-[50px] mt-auto mb-auto ms-0 me-auto" alt="star-icon">
        <h1 class="uppercase text-7xl  font-bold self-summary-heading">self-summary</h1>
        <img src="assets/icons/star-2.png" class="w-[50px] h-[50px] mt-auto mb-auto me-0 ms-auto" alt="star-icon">
      </div>
      <div class="animated-crd w-full flex-grow-[1] relative p-8">
        <img src="assets/icons/icon2.png" alt="icon" class="absolute top-0 left-8">
        <div class="flex h-full flex-col justify-end">
          <p class="text-4xl mt-auto mb-5 leading-6 font-medium"><span class="text-[var(--base-blue)]">S</span>ameera
            Madhushan</p>
          <p class="mb-0 text-[17px]">I am a San francisco-based product designer with a focus on web design,
            illustration, a visual development. I
            have a diverse range of experience having worked across various fields and industries.</p>
        </div>
      </div>
    </div>
  </div>
  <!--  end of second row-->
  <!--  second row-->
  <div class="flex w-full gap-6">
    <!--    experience section-->
    <div class="animated-crd w-1/2 aspect-[2/1] flex flex-col p-8 text-[17px]  gap-6">
      <h2 class="uppercase font-medium">Experience</h2>
      <div class="flex flex-col gap-1">
        <label class="text-[var(--base-low-gray)] opacity-[0.6]">2021 - 2022</label>
        <label>Associate Software Engineer</label>
        <label class="text-[var(--base-low-gray)] opacity-[0.6] text-[16px]">Technography Pvt Ltd</label>
      </div>
      <div class="flex flex-col gap-1">
        <label class="text-[var(--base-low-gray)] opacity-[0.6]">2022 - 2023</label>
        <label>Associate Software Engineer</label>
        <label class="text-[var(--base-low-gray)] opacity-[0.6] text-[16px]">Moresand Technologies Pvt Ltd</label>
      </div>
    </div>
    <!--    end experience section-->
    <!--    education section-->
    <div class="animated-crd w-1/2 aspect-[2/1] flex flex-col p-8 text-[17px]  gap-6">
      <h2 class="uppercase font-medium">Education</h2>
      <div class="flex flex-col gap-1">
        <label class="text-[var(--base-low-gray)] opacity-[0.6]">2020 - 2022</label>
        <label>Pearson HND For Computing</label>
        <label class="text-[var(--base-low-gray)] opacity-[0.6] text-[16px]">Esoft Metro Campus</label>
      </div>
      <div class="flex flex-col gap-1">
        <label class="text-[var(--base-low-gray)] opacity-[0.6]">2022 - 2023</label>
        <label>BEng Hons Software Engineering</label>
        <label class="text-[var(--base-low-gray)] opacity-[0.6] text-[16px]">London Metropolitan University</label>
      </div>
    </div>
    <!--    end education section-->
  </div>
  <!--  end of second row-->
  <!--  third row-->
  <div class="flex w-full gap-6">
    <!--    stay with me section-->
    <div class="md:w-[25%] md:aspect-[1] animated-crd p-8 flex flex-col justify-center items-center gap-8">
      <div class="animated-crd flex w-full gap-6 p-4 md:p-6 justify-center items-center social-section">
        <div
          class="animated-crd w-[25%] md:w-1/2 aspect-[1] flex justify-center items-center hover:bg-[var(--base-blue)] social-icon">
          <img src="assets/icons/linkedin.png" alt="icon" class="w-[30px] aspect-[1] filter-white social-icon-img">
        </div>
        <div
          class="animated-crd w-[25%] md:w-1/2 aspect-[1] flex justify-center items-center  hover:bg-[var(--base-blue)] social-icon">
          <img src="assets/icons/facebook.png" alt="icon" class="w-[30px] aspect-[1] filter-white social-icon-img">
        </div>
      </div>
      <div class="flex flex-col items-start w-full relative">
        <p class="uppercase text-[var(--base-body-font-color)] text-[14px] mb-2">stay with me</p>
        <p class="text-[var(--base-white)] text-2xl">Profiles</p>
        <img src="assets/icons/card-menu-icon.svg" alt="icon" class="absolute right-0 bottom-0 card-icon">
      </div>
    </div>
    <!--    end of stay with me section-->
    <!--    lets talk together section-->
    <div
      class="md:w-[50%] aspect-[5/3] md:aspect-[5/2] animated-crd p-8 flex relative flex-col justify-center items-center">
      <img src="assets/icons/icon2.png" alt="icon" class="absolute top-0 left-8">
      <div class="flex flex-col items-start w-full relative mt-auto mb-0">
        <p class="text-3xl md:text-5xl">Let's <br>work <span class="text-[var(--base-blue)]">together.</span></p>
        <img src="assets/icons/card-menu-icon.svg" alt="icon" class="absolute right-0 bottom-0 card-icon">
      </div>
    </div>
    <!--    end of lets talk together section-->
    <!--        more about section-->
    <div class="md:w-1/4 aspect-[1] animated-crd p-8 flex flex-col justify-center items-center gap-8">
      <img src="assets/images/newdarksign.png" class="filter-white aspect-[7/6] w-1/2 my-3" alt="sign">
      <div class="flex flex-col items-start w-full relative">
        <p class="uppercase text-[var(--base-body-font-color)] text-[14px] mb-2">More About Me</p>
        <p class="text-[var(--base-white)] text-2xl">Credentials</p>
        <img src="assets/icons/card-menu-icon.svg" alt="icon" class="absolute right-0 bottom-0 card-icon">
      </div>
    </div>
    <!--        end more about section-->
  </div>
  <!--  end third row-->
</div>
