<div class="container py-3 py-3 md:py-[4rem] flex flex-col gap-6 px-5 md:px-0">
  <!-- first row-->
  <div class="flex w-full gap-6">
    <div class="animated-crd w-[32%] aspect-[1] p-8">
      <img src="assets/images/dp.jpg" class="w-full object-cover rounded-[30px]" alt="dp">
    </div>
    <div class="w-[63%] aspect-[3/1] flex flex-col gap-6 items-center">
      <div class="flex w-full card-animation">
        <img src="assets/icons/star-2.png" class="w-[50px] h-[50px] mt-auto mb-auto ms-0 me-auto" alt="star-icon">
        <h1 class="uppercase text-7xl  font-bold self-summary-heading">self-summary</h1>
        <img src="assets/icons/star-2.png" class="w-[50px] h-[50px] mt-auto mb-auto me-0 ms-auto" alt="star-icon">
      </div>
      <div class="animated-crd w-full flex-grow-[1] relative p-8">
        <img src="assets/icons/icon2.png" alt="icon" class="absolute top-0 left-8">
        <div class="flex h-full flex-col justify-end">
          <p class="text-4xl mt-auto mb-5 leading-6 font-medium"><span class="text-[var(--base-blue)]">S</span>ameera
            Madhushan</p>
          <p class="mb-0 text-[17px]">I am a San francisco-based product designer with a focus on web design,
            illustration, a visual development. I
            have a diverse range of experience having worked across various fields and industries.</p>
        </div>
      </div>
    </div>
  </div>
  <!--  end of second row-->
</div>
