<div class="flex flex-col md:flex-row gap-16 w-full">
  <div class="flex md:w-[30%]">
    <div class="card-animation p-[3rem] text-9 animated-crd gap-16 items-center justify-center flex flex-col w-full">
      <div class="flex gap-6 flex-col items-center text-center">
        <img src="assets/icons/coding.png" class="filter-white w-[60px] md:w-[40px] aspect-[1] object-cover" alt="icon">
        <label class="uppercase">Web App development</label>
      </div>
      <div class="flex gap-6 flex-col items-center text-center">
        <img src="assets/icons/mobile-development.png" class="filter-white w-[60px] md:w-[50px] aspect-[1] object-cover"
             alt="icon">
        <label class="uppercase">Mobile App development</label>
      </div>
      <div class="flex gap-6 flex-col items-center text-center">
        <img src="assets/icons/web-programming.png" class="filter-white w-[60px] md:w-[40px] aspect-[1] object-cover"
             alt="icon">
        <label class="uppercase">Web Designing</label>
      </div>
      <div class="flex gap-6 flex-col items-center text-center">
        <img src="assets/icons/website.png" class="filter-white md:w-[60px] w-[30px] aspect-[1] object-cover"
             alt="icon">
        <label class="uppercase">Web Scraping</label>
      </div>
    </div>
  </div>
  <div class="md:w-[70%] flex flex-col gap-6">
    <div class="flex w-full card-animation">
      <img src="assets/icons/star-2.png"
           class="w-[30px] md:w-[50px] h-[30px] md:h-[50px] mt-auto mb-auto ms-0 me-auto" alt="star-icon">
      <h1 class="uppercase text-3xl md:text-7xl  font-bold self-summary-heading">My Offerings</h1>
      <img src="assets/icons/star-2.png"
           class="w-[30px] md:w-[50px] h-[30px] md:h-[50px] mt-auto mb-auto me-0 ms-auto" alt="star-icon">
    </div>
    <!--    service details section-->
    <div class="flex flex-col gap-6 p-6 animated-crd">
      <div class="flex w-full gap-6 flex-col md:flex-row">
        <div class="md:w-1/2 flex flex-col gap-4 items-start p-6 aspect-[4/3] animated-crd card-animation">
          <label class="text-[var(--base-low-gray)] opacity-[0.6] uppercase">Web App development</label>
          <p>Sit amet luctussd fav venenatis, lectus magna fringilla inis urna, porttitor asna rhoncus dolor purus non
            enim aberitin praesent in elementum sahas facilisis leo, vel fringilla est etisam dignissim.</p>
        </div>
        <div class="md:w-1/2 flex flex-col gap-4 items-start p-6 aspect-[4/3] animated-crd card-animation">
          <label class="text-[var(--base-low-gray)] opacity-[0.6] uppercase">Mobile App development</label>
          <p>Sit amet luctussd fav venenatis, lectus magna fringilla inis urna, porttitor asna rhoncus dolor purus non
            enim aberitin praesent in elementum sahas facilisis leo, vel fringilla est etisam dignissim.</p>
        </div>
      </div>
      <div class="flex w-full gap-6 flex-col md:flex-row">
        <div class="md:w-1/2 flex flex-col gap-4 items-start p-6 aspect-[4/3] animated-crd card-animation">
          <label class="text-[var(--base-low-gray)] opacity-[0.6] uppercase">Web Designing</label>
          <p>Sit amet luctussd fav venenatis, lectus magna fringilla inis urna, porttitor asna rhoncus dolor purus non
            enim aberitin praesent in elementum sahas facilisis leo, vel fringilla est etisam dignissim.</p>
        </div>
        <div class="md:w-1/2 flex flex-col gap-4 items-start p-6 aspect-[4/3] animated-crd card-animation">
          <label class="text-[var(--base-low-gray)] opacity-[0.6] uppercase">Web Scraping</label>
          <p>Sit amet luctussd fav venenatis, lectus magna fringilla inis urna, porttitor asna rhoncus dolor purus non
            enim aberitin praesent in elementum sahas facilisis leo, vel fringilla est etisam dignissim.</p>
        </div>
      </div>
    </div>
    <!--    end service details section-->
  </div>
</div>
