<div class="container flex flex-col font-medium text-[14px] items-center gap-8 py-[3rem] md:pt-0 md:pb-[5rem]">
  <label class="text-4xl ">Dev<span class="text-[var(--base-blue)]">S</span></label>
  <ul class="inline-flex text-[var(--base-body-font-color)] gap-8">
    <li class="hover:text-white cursor-pointer" *ngFor="let i of ['Home','About','Work','Contact']">{{i}}</li>
  </ul>
  <p class="text-[var(--base-body-font-color)]">© All rights reserved by <span class="text-[var(--base-white)]">Dev<span
    class="text-[var(--base-blue)]">S</span></span></p>
</div>
