/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');

:root {
  --base-dark: #0F0F0F;
  --base-white: #ffff;
  --base-gray: #323232;
  --base-transparent: transparent;
  --bas-bg-card-pattern: linear-gradient(120deg, rgba(255, 255, 255, 0.04), rgba(255, 255, 255, 0.01));

  /*fonts*/
  --base-body-font-color: #676767;

  /*filter colors*/
  --filter-white:invert(100%) sepia(98%) saturate(0%) hue-rotate(154deg) brightness(109%) contrast(100%);
}

* {
  background-color: transparent;
  font-family: 'Roboto', sans-serif;
}

@layer utilities{

  .filter-white{
    filter:var(--filter-white)
  }
}

.card-bg {
  background: var(--bas-bg-card-pattern);
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

/*common classes*/
.animated-crd {
  background: var(--bas-bg-card-pattern);
  animation-name: load-card;
  animation-duration: 700ms;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  transform: scale(0);
  border-radius: 35px;
  box-shadow: rgba(256, 256, 256, 0.1) 0px 0px 1px 0px, rgba(256, 256, 256, 0.1) 0px 0px 3px 0px;
}

.animated-crd:hover .card-icon {
  opacity: 1;
}

.card-icon {
  opacity: 0.5;
}

@keyframes load-card {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
